<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/story">
        <h1>MADLIBS</h1>

        {%for cat in category%}
        <label for="{{cat}}">{{cat}}:</label>
        <input id="{{cat}}" type="text" name = "{{cat}}" style= "margin: 10px;"/><br>
        {%endfor%}
    
        
       
        <button>Submit</button>
    </form>
</body>
</html>